*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background: #CCC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculadora{
  background: #333;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.calculadora input{
  background: #999;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 2px;
  font-weight: bold;
  border: none;
  outline: none;
  transition: .3s;
}

.calculadora input:hover{
  cursor: pointer;
  opacity: .4;
}

.display input{
  background: white;
  width: 95%;
  text-align: right;
}

.display input:hover{
  opacity: 1;
  cursor: none;
}

.calculadora .gray{
  background: #777
}

.calculadora .op{
  background: darkorange;
}

#del, #equal{
  width: 130px;
}
